/**********/
/*wrappers*/
/**********/
.pmf-tableWrapper {
  width: 100%;
}
.pmf-tableHeader {
  margin: 10px 0;
}
.pmf-tableHeader,
.pmf-tableFooter {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pmf-tableFooter {
  @media screen and (max-width: 1090px) {
    flex-direction: column-reverse;
    gap: 1rem;
  }
}
.pmf-table {
  width: 100%;
  border-bottom: 1px solid #111;
  box-sizing: content-box;
  border-spacing: 0;
  display: table;
}
